@import 'tailwindcss';

:root {
  font-display: 'Pretendard';
  line-height: 1.5;
  font-weight: 400;

  --color-green-200: #effad7;
  --color-green-600: #95ca14;
  --color-red-600: #ff4848;
  --color-red-400: #ffe4e1;
  --color-red-200: #fff4f3;
  --color-yellow-600: #ffb02e;
  --color-yellow-200: #fccb22;
  --color-blue-100: #9ed9bb;
  --color-blue-200: #d3eece;
  --color-blue-300: #f5f5f5;
  --color-blue-400: #0961a1;
  --color-red-300: #e74925;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }

  .bg-green {
    background-color: var(--color-green-200);
  }
  .bg-pink {
    background-color: var(--color-pink-200);
  }
  .bg-pink-400 {
    background-color: var(--color-pink-400);
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(-20px);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 2s ease-in forwards;
}

.animate-slide-out {
  animation: slide-out 2s ease-out forwards;
}
